*{margin:0; padding:0; box-sizing: border-box;}
body{
	overflow:hidden;
	background:url(../images/5.jpg);
}
a{
	text-decoration: none; color:white; font-size: 50px;
	border: 3px solid white; 
	}
.header h1{
	margin: 30vh auto;
	text-align:center;
	color: white;
}
.container{
	margin: 10vh auto;
	text-align:center;
	justify-content: center;
	padding-bottom:10vh;
}
.container h1{
	font-size: 60px;
	font:bold;
	color: white;
}
a:hover{
	font-size: 60px;
	text-decoration:none;
	color:green;
	border: 4px solid green;
}