*{margin:0; padding:0; box-sizing: border-box;}
body{height: 100vh; overflow: hidden; }
a{text-decoration: none; color: white;}

.container{
    max-width: 1200px; margin: 0 auto;
    position: relative;}
header{
    position: fixed; z-index:99;
    top:0; left:0; right:0;
    padding: 25px;
     transform: translateY(-50px);
    transition: transform 1s ease; 
}

header.active{ transform:  translateY(0);}

header h1{
    font-size: 50x; color:#fff;
}

header nav{
    position: absolute; z-index: 2;
    top: 0; right: 0;
    font-size:24px;
}

header nav a{
    font-size: 16px; color: #fff;
    display: inline-block; vertical-align: middle;
    padding: 5px; margin: 0 10px;
}

main,
main::before{height: 100vh;}
main::before{
    content: "";
    display: block;
    height: 100vh;
    background: url(../images/5.jpg) no-repeat center;
    background-size: cover;
    transform: scale(1.2);
    transition:  all 2s linear;
}

main::after{
    content:"";
    position: absolute; z-index: 3;
    top:0; right:0; bottom:0; left:0;
    background:#000;
    opacity: 1;
    transition: all 2s linear;
}
main.active::after{right:-10vw;opacity: 0;}

main .container{
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
    padding:50px; 
}

main p{
    font-size: 72px; color: #fff;
     transition: all 1s ease;
     opacity: 0; 
     font: bold;
}
main p:nth-child(1){transform: translateY(50px);}
main p:nth-child(2){transform: translateY(75px);}
main.active p{opacity: 1; transform: translateY(0);} 


