@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../images/5.jpg) no-repeat fixed center;
	background-size: cover;
}

body::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .7);
}

#list-table {
	background: none;
	z-index: 2;
}

.panel-default{
	background: none;
}

.panel-default>.panel-heading {
	background-color: none;
	color: white;
}

.panel-table .panel-body {
	color: white;
	padding: 0;
	background-color: none;
}

.panel-table .panel-footer {
	color: white;
	background: none;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
	border-style: none;
	text-align: center;
	margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
	text-align: center;
	width: 100px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
	border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
	.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
	text-align: center;
	border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
	border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
	border-top: 0px;
	text-align: center;
}

.panel-table .panel-footer .pagination {
	margin: 0;
}

/*
  used to vertically center elements, may need modification if you're not using default sizes.
  */
.panel-table .panel-footer .col {
	line-height: 34px;
	height: 34px;
}

.panel-table .panel-heading .col h3 {
	line-height: 30px;
	height: 30px;
}

.panel-table .panel-body .table-bordered>tbody>tr>td {
	line-height: 34px;
}

.noboot-custom-select {
	height: 30px;
	border-radius: 5px;
	vertical-align: middle;
	text-align-last: center;
	background: none;
	color: white;
}

.noboot-search-input {
	padding-bottom: 3px;
	height: 28px;
	border-radius: 5px;
	background: none;
	color: white;
}

#search-btn {
	height: 30px;
}

#pagination-#4caf50-font {
	color: #4caf50;
}

#board-title-td {
	text-decoration: none;
	color: white;
}

#list-tr{
	background:none;
}
#list-tr:hover {
	background: #4caf50;
}

#paging-div ul.pagination{
	backgroun: black;
	}
#paging-ul{
	background:none;
}
#paging-idv{
	background:none;
}

#paging-div #paging-li{
	background: none;
}
#list-heading{
	background:none;
}
#select-option{
	color: black;
}
#h1-div{
	position:relative;
	z-index:3;
	margin-bottom:30px;
	font-family: 'Nanum Gothic', sans-serif;
}
.pagination>li>a, .pagination>li>span{
	background: none;
	color: white;
}
.pagination>li>a:hover, .pagination>li>span:hover{
	background: #4caf50;
}
