@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 10%;
	padding: 0;
	font-family: sans-serif;
	background: url(../images/5.jpg) no-repeat fixed center;
	background-size: cover;
}
body::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .7);
}
td{
	overflow:auto;
	max-width:1400px;
	line-height: 150%;
}
#view-table{
	position:relative;
	z-index:2;
	color: white;
}
.table-left{
	width: 120px;
}
.submit-btn{
  margin-top:5px;
  color: white;
  cursor: pointer;
  border: 2px solid #4caf50;
}
#write-reply-group{
	position:relative;
	z-index:2;
	color: white;
}
.content-tr{
	height: 300px;
	line-height: 50%;
}
.write-update-list{
	text-align: right;
}
.fa-trash-alt:before{
	padding-right: 20px;
	padding-left: 20px;
}
.write-update-list a{
	color: #4caf50;
}
#view-title{
	font-size: 40px;
	word-break:normal;
}
#table-writer-nickname{
	font-size: 30px;
}

#table-writer-id{
	font-size: 20px;
}

input#reg-reply:hover{
	color: #4caf50;
	font-size:20px;
	font:bold;
}
.reply-modi-update{
	border: none;
	background: none;
	color: #4caf50;
}
.reply-undo{
	border: none;
	background: none;
	color: gray;
}
#reply-delete-a{
	color: #4caf50;
}
#third-td{
	text-align:right;
}
.table-view-second{
	padding:10px;
	width:79vw;
	overflow:hidden;word-wrap:break-word;
	max-width:1200px;
}
#content-enter{
	white-space: pre;
}
/* home.css */
a{text-decoration: none; color: white;}

.container{
    max-width: 1200px; margin: 0 auto;
    position: relative;}
header{
    position: fixed; z-index:99;
    top:0; left:0; right:0;
    padding: 25px;
}
header h1{
    font-size: 50x; color:#fff;
}

header nav{
    position: absolute; z-index: 2;
    top: 0; right: 0;
    font-size:24px;
}

header nav a{
    font-size: 16px; color: #fff;
    display: inline-block; vertical-align: middle;
    padding: 5px; margin: 0 10px;
}

#white-a:hover{
	text-decoration: none;
	color:#4caf50;
}
#h1-sp:hover{
	text-decoration: none;
}