<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjts.board.dao.board.BoardDao">

	<select id="getBoardInfo" resultType="com.bjts.board.domain.board.BoardVO">
		SELECT * FROM BOARD
	</select>


	<select id="getBoardView" resultType="com.bjts.board.domain.board.BoardVO">
		SELECT * FROM BOARD WHERE idNum=#{value}
	</select>


	<delete id="deleteBoard">
		DELETE FROM BOARD WHERE idNum=#{value}
	</delete>

</mapper>
