<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjts.board.dao.member.MemberDao">

	<select id="CheckPasswordMatch" resultType="String">
		SELECT USERPASSWORD FROM MEMBER WHERE USERID = #{value}
	</select>
	
	<select id="getMemberInfo" resultType="com.bjts.board.domain.member.MemberVO">
		SELECT * FROM MEMBER WHERE USERID = #{value}
	</select>

	<insert id="joinMemberInfo">
		INSERT INTO MEMBER VALUES(MEMBER_ID_SEQ.NEXTVAL,#{userId},#{userPassword},#{userName},#{userNickname},#{userEmail},#{userAddress},#{userGender},SYSDATE)
	</insert>
	
	<update id="updateMemberInfo">
		UPDATE MEMBER SET USERNICKNAME = #{userNickname}, USEREMAIL = #{userEmail}, USERADDRESS = #{userAddress} WHERE USERID = #{userId}
	</update>
	
	<update id="updateMemberPassword">
		UPDATE MEMBER SET USERPASSWORD= #{userPassword} WHERE USERID=#{userId}
	</update>

	<delete id="deleteMemberInfo">
		DELETE FROM MEMBER WHERE USERID=#{value}
	</delete>

	<select id="checkMemberId" resultType="String">
		SELECT USERID FROM MEMBER WHERE USERID=#{check_id}
	</select>

	<select id="checkMemberNickname" resultType="String">
		SELECT USERNICKNAME FROM MEMBER WHERE USERID=#{check_nickname}
	</select>

</mapper> 